<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNV.Properties.Settings.QLNVConnectionString" connectionString="Data Source=DESKTOP-I9L9APE;Initial Catalog=QLNV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLNV.Properties.Settings.LoginConnectionString" connectionString="Data Source=DESKTOP-I9L9APE;Initial Catalog=Login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>